<%- include('../partials/head') %>
    <%- include('../partials/nav') %>

    <section class="notebook">
        <h1><%= user.email %>, abaixo estão seus contatos</h1>

        <table>
           <% contatos.forEach(contato => {%>
            <tr>
                <td><%= contato.nome %></td>
                <td><%= contato.email %></td>
                <td><%= contato.numero %></td>
                <td><%= contato.cidade %></td>
                <td><a class="edit" href="/contato/<%= contato._id %>">Editar</a></td>
                <td><a class="delete" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
            </tr>
           <%}) %>
        </table>

    </section>
    
<%- include('../partials/footer') %>